$light_blue: #00E9E6;
$orange: #DE6A2F;
$dark_blue: #00263D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.img_responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.custom_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $dark_blue;
    font-weight: 500;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: #fff;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: -2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 2px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 4px;
            height: 10px;
            border: solid $dark_blue;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

}

.image_flip_card {
    perspective: 500px;

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        transition: transform 2s;
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .content {
        transform: rotateY(180deg);
        transition: transform 1s;
    }

    .front,
    .back {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .back {
        transform: rotateY(180deg);
    }
}

.social_links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 10px;
        background-color: $light_blue;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }
}

input,
textarea {
    background-color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    color: $dark_blue;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
    width: 100%;
    resize: none;

    &::placeholder {
        color: $dark_blue;
    }
}

.header {
    position: relative;

    .robot {
        position: absolute;
        width: 40%;
        right: 4%;
        top: 26%;
        transition: all 3s ease-out;

        // transform: rotate(3deg) translate(0px,0px);
        // &:hover{
        //     animation: robot_forward 6s ease-in-out infinite;
        // }
        @keyframes robot_forward {
            0% {
                transform: rotate(3deg) translate(0px, 0px);
            }

            50% {
                transform: rotate(3.56789deg) translate(7.56789px, 14.56789px);
            }

            100% {
                transform: rotate(3deg) translate(0px, 0px);
            }
        }

        @keyframes robot_backward {
            // 0% {
            //     transform: rotate(3.56789deg) translate(7.56789px,14.56789px);
            // }

            // 100% {
            //     transform: rotate(3deg) translate(0px,0px);
            // }
            0% {
                transform: rotate(3.56789deg) translate(7.56789px, 14.56789px);
            }

            50% {
                transform: rotate(3deg) translate(0px, 0px);
            }

            100% {
                transform: rotate(3.56789deg) translate(7.56789px, 14.56789px);
            }
        }
    }

    .top {
        background-image: url('../images/header_bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 5% 0;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;

            .logo {
                width: 200px;
            }
        }

        h1 {
            font-size: 60px;
            color: #fff;
            font-weight: 700;
        }

        .form_box {
            background-color: #E0E0E0;
            width: 40%;
            padding: 24px 30px;
            border-radius: 30px;
            box-shadow: 0 16px 10px rgba(0, 38, 61, 0.30);
            margin-bottom: 0;
            position: relative;
            bottom: -50px;


            p {
                color: $dark_blue;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 20px;

                span {
                    color: $orange;
                    font-weight: 900;
                }
            }

            button {
                margin: 30px auto 0px;
                display: block;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                background-color: $orange;
                padding: 12px 26px;
                text-transform: uppercase;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    .bottom {
        padding: 10% 5% 5%;

        .points_container {
            width: 40%;

            .points_box {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 40px;

                .icon_box {
                    margin-right: 40px;

                    img {
                        width: 70px;
                    }
                }

                .content_box {
                    font-size: 26px;
                    color: #333333;
                }
            }
        }
    }
}

.services_container {
    h1 {
        padding: 0 5%;
        font-size: 60px;
        color: $dark_blue;
        overflow: hidden;

        span {
            color: $orange;
        }

        &:last-of-type {
            text-align: right;
        }
    }

    .text_box {
        padding: 0 5%;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin: 30px 0px;
        color: #00263d;
        text-align: right;

        span {
            font-weight: 700;
        }
    }

    .service_box {
        &.top {
            display: grid;
            grid-template-columns: 65% 35%;

            .left {
                background-repeat: no-repeat;
                height: 550px;
                background-size: 22%;
                background-position: left 70px;
                display: flex;
                align-items: center;

                .box {
                    display: flex;
                    flex-direction: column;
                    column-gap: 30px;
                    padding-left: 5%;
                    align-items: center;
                    width: 250px;

                    &:last-child {
                        padding: 0;
                    }
                }

                .image_flip_card {
                    &.one {
                        width: 150px;
                        height: 200px;
                        margin-bottom: 30px;
                    }

                    &.two {
                        width: 200px;
                        height: 250px;
                    }

                    &.three {
                        width: 280px;
                        height: 350px;
                        margin-left: 20px;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                padding-top: 10%;

                .content_box {
                    display: inline-flex;
                    align-items: center;
                    column-gap: 35px;
                    cursor: pointer;
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }

                    .icon_box {
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $orange;

                        svg {
                            width: 18px;
                            color: #fff;
                            transition: all 0.5s ease;
                        }

                        &.active {
                            svg {
                                line:first-child {
                                    opacity: 0;
                                }
                            }
                        }
                    }

                    .content {
                        font-size: 20px;
                        color: $dark_blue;

                        span {
                            font-weight: 700;
                        }
                    }

                    .detail_box {
                        display: none;
                        position: absolute;
                        background: #fff;
                        border-radius: 10px;
                        width: 400px;
                        max-height: 200px;
                        border: 1px solid #ddd;
                        padding: 12px 14px;
                        z-index: 99;
                        font-size: 14px;
                        overflow: hidden;
                        overflow-y: auto;
                        top: 130%;
                        left: 0px;

                        p {
                            text-align: left;
                            font-size: 14px;
                            margin: 0;
                            margin-bottom: 10px;
                            font-weight: 400;
                            line-height: 18px;
                        }

                        ul {
                            padding-left: 26px;
                            line-height: 26px;
                        }

                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.goals_container {
    padding-top: 10%;

    h1 {
        padding: 0 5%;
        font-size: 60px;
        color: $dark_blue;
        margin-bottom: 50px;

        span {
            color: $orange;
        }
    }

    .goal_box {
        display: flex;
        justify-content: space-between;
    }

    .points_container {
        width: 40%;
        padding-left: 5%;
        padding-top: 5%;

        .points_box {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            .icon_box {
                margin-right: 40px;

                img {
                    width: 70px;
                }
            }

            .content_box {
                font-size: 26px;
                color: #333333;
            }
        }
    }

    .img_container {
        display: flex;
        padding-right: 4%;

        .box {
            display: flex;
            flex-direction: column;
            padding: 0 30px;
            align-items: center;
            width: 250px;

            &:last-child {
                padding: 0;
            }
        }

        .image_flip_card {
            &.one {
                width: 150px;
                height: 200px;
                margin-bottom: 30px;
                position: relative;

                &::after {
                    content: url('../images/pin.png');
                    position: absolute;
                    top: -96px;
                    transform: scale(0.2);
                    left: -84px;
                }
            }

            &.two {
                width: 200px;
                height: 250px;
                position: relative;

                &::after {
                    content: url('../images/pin.png');
                    position: absolute;
                    bottom: -98px;
                    transform: scale(0.3);
                    left: -50px;
                }
            }

            &.three {
                width: 250px;
                height: 300px;
                position: relative;

                &::after {
                    content: url('../images/pin.png');
                    position: absolute;
                    bottom: -98px;
                    transform: scale(0.5);
                    left: 0px;
                }
            }

            &.four {
                width: 250px;
                height: 300px;
                margin-top: 140px;
                position: relative;

                &::after {
                    content: url('../images/pin.png');
                    position: absolute;
                    z-index: 1;
                    top: -90px;
                    transform: scale(0.5);
                }
            }
        }
    }
}

.client_container {
    padding: 6% 0;
    background-image: url('../images/client_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;

    h1 {
        font-size: 60px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin-bottom: 5%;
    }

    .marquee>img {
        height: 40px !important;
        width: auto!important;
        margin: 0 40px;
    }

    .marquee-wrapper {
        display: flex;
        white-space: nowrap;
        position: relative;
        overflow: hidden;

        &:first-of-type {
            margin-bottom: 5%;
        }
    }

    .marquee {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        transform: translate3d(0%, 0, 0);
        animation-name: marquee;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .marquee-wrapper:hover .marquee {
        animation-play-state: paused !important;
    }

    @keyframes marquee {
        0% {
            transform: translate3d(0%, 0, 0);
        }

        100% {
            transform: translate3d(-100%, 0, 0);
        }
    }
}

.presentation_container {
    padding: 5%;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;

        h2 {
            font-size: 40px;
            color: $orange;
        }

        a {
            font-size: 14px;
            padding: 10px 24px;
            font-weight: 500;
            color: #fff;
            border: none;
            border-radius: 6px;
            background-color: $orange;
            line-height: 21px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
        }
    }

    video {
        width: 100%;
    }
}

footer {
    padding: 3% 5%;
    background-color: $dark_blue;
    display: flex;
    justify-content: space-between;

    h4 {
        font-size: 30px;
        margin-bottom: 8px;
        color: $light_blue;

        &:nth-of-type(2) {
            display: none;
        }
    }

    p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
    }

    .form_box {
        .two_input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }

        input,
        textarea {
            background-color: rgba(255, 255, 255, 0.24);
            color: $light_blue;

            &::placeholder {
                color: $light_blue;
            }
        }

        button {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            background-color: $orange;
            padding: 12px 40px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:nth-of-type(2) {
                display: none;
            }
        }
    }

    .right {
        h4 {
            margin-bottom: 20px;
        }

        .detail {
            display: grid;
            align-items: flex-start;
            margin-bottom: 20px;
            grid-template-columns: 40px auto;

            img {
                width: 20px;
                margin-right: 20px;
                margin-top: 4px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                margin-bottom: 0;
            }
        }

        .countries {
            display: flex;
            column-gap: 20px;
            padding-left: 40px;

            p {
                font-size: 16px;
                position: relative;

                &:nth-child(2) {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background: #fff;
                        transform: rotate(45deg);
                        right: -12px;
                        top: 36%;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background: #fff;
                        transform: rotate(45deg);
                        top: 36%;
                        left: -12px;
                    }
                }
            }
        }

        .social_links {
            justify-content: flex-start;
            padding-left: 40px;

            .box:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .robot {
            width: 45%;
            right: 0%;
            top: 30%;
        }

        .top {
            padding: 20px 2% 0;


            .navbar {
                .logo {
                    width: 180px;
                }
            }

            h1 {
                font-size: 44px;
            }

            .form_box {
                width: 45%;
                margin-bottom: -60px;
            }

            .social_links {
                .box {
                    width: 30px;
                    height: 30px;
                    padding: 8px;
                }
            }
        }

        .bottom {
            .points_container {
                width: 50%;

                .points_box {
                    margin-bottom: 30px;

                    .icon_box {
                        margin-right: 30px;

                        img {
                            width: 54px;
                        }
                    }

                    .content_box {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .services_container {
        h1 {
            padding: 0 2%;
            font-size: 44px;
        }

        .text_box {
            padding: 0 2%;

            p {
                margin: 20px 0;
            }
        }

        .service_box {
            &.top {
                grid-template-columns: 70% 25%;
                column-gap: 5%;

                .left {
                    height: 480px;

                    .box {
                        column-gap: 20px;
                        padding-left: 2%;
                        width: 230px;
                    }

                    .image_flip_card {
                        &.one {
                            width: 140px;
                            height: 180px;
                            margin-bottom: 20px;
                        }

                        &.two {
                            width: 180px;
                            height: 220px;
                        }

                        &.three {
                            width: 250px;
                            height: 320px;
                        }
                    }
                }

                .right {
                    padding-top: 24%;
                }
            }
        }
    }

    .goals_container {
        padding-top: 5%;

        h1 {
            padding: 0 2%;
            font-size: 44px;
            margin-bottom: 40px;
        }

        .goal_box {
            .points_container {
                padding-left: 2%;
                padding-top: 5%;
                width: 35%;
                margin-right: 5%;

                .points_box {
                    margin-bottom: 30px;

                    .icon_box {
                        margin-right: 30px;

                        img {
                            width: 54px;
                        }
                    }

                    .content_box {
                        font-size: 22px;
                    }
                }
            }

            .img_container {
                padding-right: 2%;
                width: 67%;

                .image_flip_card {
                    &.four {
                        width: 200px;
                        height: 250px;
                        margin-top: 90px;

                        &::after {
                            top: -90px;
                            transform: scale(0.3);
                        }
                    }

                    &.one {
                        width: 140px;
                        height: 180px;
                        margin-bottom: 20px;

                        &::after {
                            top: -96px;
                            transform: scale(0.2);
                            left: -84px;
                        }
                    }

                    &.two {
                        width: 180px;
                        height: 220px;

                        &::after {
                            transform: scale(0.3);
                        }
                    }

                    &.three {
                        width: 220px;
                        height: 280px;
                        margin-top: 20px;

                        &::after {
                            bottom: -98px;
                            transform: scale(0.3);
                        }
                    }
                }

                .box {
                    padding: 0 20px;
                }
            }
        }
    }

    .client_container {
        padding: 4% 0 5%;
        margin-top: 8%;

        h1 {
            font-size: 44px;
        }

        .marquee>img {
            margin: 0 30px;
        }
    }

    .presentation_container {
        padding: 4% 2%;

        .top {
            margin-bottom: 3%;

            h2 {
                font-size: 32px;
            }
        }
    }

    footer {
        padding: 3% 4%;
    }
}

@media (max-width: 768px) {
    .social_links {
        .box {
            width: 30px;
            height: 30px;
            padding: 8px;
        }
    }

    .header {
        .robot {
            width: 42%;
            right: 0%;
            top: 42%;
        }

        .top {
            h1 {
                font-size: 36px;
            }

            .form_box {
                width: 48%;
                margin-bottom: -80px;
                padding: 20px 20px;
                border-radius: 24px;
                bottom: -70px;
            }


        }

        .bottom {
            padding: 24% 5% 5%;

            .points_container {
                width: 50%;

                .points_box {
                    margin-bottom: 30px;

                    .icon_box {
                        margin-right: 24px;

                        img {
                            width: 44px;
                        }
                    }

                    .content_box {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .services_container {
        h1 {
            padding: 0 2%;
            font-size: 36px;
        }

        .text_box {
            padding: 0 2%;

            p {
                margin: 20px 0;
            }
        }

        .service_box {
            &.top {
                grid-template-columns: 65% 30%;
                column-gap: 4%;

                .left {
                    height: 420px;

                    .box {
                        column-gap: 20px;
                        padding-left: 2%;
                        width: 150px;
                    }

                    .image_flip_card {
                        &.one {
                            width: 100px;
                            height: 140px;
                            margin-bottom: 12px;
                        }

                        &.two {
                            width: 130px;
                            height: 160px;
                        }

                        &.three {
                            width: 190px;
                            height: 220px;
                            margin-left: 4px;
                        }
                    }
                }

                .right {
                    padding-top: 20%;

                    .content_box {
                        .detail_box {
                            width: 100%;
                            max-height: 200px;
                            top: 120%;
                        }

                        &:not(:last-child) {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }

    .goals_container {
        padding-top: 5%;

        h1 {
            padding: 0 2%;
            font-size: 36px;
            margin-bottom: 40px;
        }

        .goal_box {
            .points_container {
                padding-left: 2%;
                padding-top: 5%;
                width: 35%;
                margin-right: 3%;

                .points_box {
                    margin-bottom: 30px;

                    .icon_box {
                        margin-right: 24px;

                        img {
                            width: 44px;
                        }
                    }

                    .content_box {
                        font-size: 20px;
                    }
                }
            }

            .img_container {
                padding-right: 2%;
                width: 62%;

                .image_flip_card {
                    &.four {
                        width: 170px;
                        height: 180px;
                        margin-top: 70px;

                        &::after {
                            top: -90px;
                            transform: scale(0.2);
                        }
                    }

                    &.one {
                        width: 100px;
                        height: 140px;
                        margin-bottom: 12px;

                        &::after {
                            top: -90px;
                            transform: scale(0.2);
                            left: -86px;
                        }
                    }

                    &.two {
                        width: 130px;
                        height: 160px;

                        &::after {
                            transform: scale(0.2);
                        }
                    }

                    &.three {
                        width: 200px;
                        height: 210px;
                        margin-top: 30px;

                        &::after {
                            bottom: -98px;
                            transform: scale(0.2);
                        }
                    }
                }

                .box {
                    padding: 0 20px;
                    width: 200px;
                }
            }
        }
    }

    .client_container {
        padding: 4% 0 5%;
        margin-top: 4%;

        h1 {
            font-size: 36px;
        }

        .marquee>img {
            margin: 0 30px;
        }
    }

    .presentation_container {
        padding: 4% 2%;

        .top {
            margin-bottom: 3%;

            h2 {
                font-size: 28px;
            }
        }
    }

    footer {
        padding: 3% 2%;

        h4 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            color: #fff;
            margin-bottom: 20px;
        }

        .right {
            .detail {
                p {
                    font-size: 14px;
                    line-height: 21px;
                }
            }

            .countries {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .header {
        .robot {
            display: none;
        }

        .top {
            padding: 20px 20px 0;
            height: 470px;

            .navbar {
                .logo {
                    width: 130px;
                }

                .social_links {
                    .box {
                        width: 24px;
                        height: 24px;
                        padding: 6px;
                    }
                }
            }

            h1 {
                font-size: 36px;
                text-align: left;
            }

            .form_box {
                padding: 20px 30px;
                width: 100%;

                p {
                    font-size: 16px;
                    margin-bottom: 16px;
                }
            }
        }

        .bottom {
            margin-top: 230px;

            .points_container {
                width: 66%;
                margin: 0 auto;

                .points_box {
                    .icon_box {
                        margin-right: 20px;

                        img {
                            width: 40px;
                        }
                    }

                    .content_box {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .services_container {
        h1 {
            font-size: 24px;
            padding: 0 4%;
            text-align: left !important;
        }

        .text_box {
            padding: 0 4%;
        }

        p {
            font-size: 14px;
            margin: 6px 0 20px !important;
            text-align: left;
        }

        .service_box {
            &.top {
                grid-template-columns: 100%;

                .left {
                    height: auto;
                    align-items: flex-start;
                    background-size: 24%;
                    background-position: left -4px;
                    padding: 0 20px;
                    position: relative;

                    &::after {
                        content: '';
                        background-image: url('../images/design_2.png');
                        width: 120px;
                        height: 210px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: -1;
                    }

                    .box {
                        width: unset;

                        &:nth-of-type(1) {
                            flex-direction: row;
                            width: unset;
                            column-gap: 2.8vw;
                            align-items: flex-start;
                            padding-left: 0;

                            .image_flip_card {
                                &.one {
                                    width: 20.318vw;
                                    height: 26vw;
                                    margin-top: 10px;
                                    margin-bottom: 12px;

                                    &::after {
                                        content: url('../images/pin.png');
                                        position: absolute;
                                        top: -86px;
                                        transform: scale(0.15);
                                        left: -2px;
                                    }
                                }

                                &.two {
                                    width: 26.318vw;
                                    height: 34vw;
                                    margin-top: 30px;
                                }
                            }
                        }

                        &:nth-of-type(3) {
                            .image_flip_card {
                                &.one {
                                    width: 20.318vw;
                                    height: 26vw;
                                    margin-top: 10px;
                                    margin-bottom: 12px;

                                    &::after {
                                        content: url('../images/pin.png');
                                        position: absolute;
                                        bottom: -87px;
                                        transform: scale(0.15);
                                        left: -4px;
                                    }
                                }

                                &.two {
                                    width: 26.318vw;
                                    height: 30vw;
                                    margin-left: -20vw;

                                }
                            }
                        }
                    }

                    .image_flip_card {
                        &.three {
                            width: 16.318vw;
                            height: 21vw;
                            margin-right: 2.8vw;
                            margin-left: 2.8vw;
                            margin-top: 30px;
                        }
                    }
                }

                .right {
                    padding: 40px 5%;
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .content_box {
                        margin-bottom: 30px;
                        column-gap: 16px;

                        .icon_box {
                            width: 22px;
                            height: 22px;
                            min-width: 22px;

                            svg {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .goals_container {
        padding: 0;

        h1 {
            font-size: 24px;
            text-align: left;
            padding: 0 4%;
            margin-bottom: 30px;
        }

        .goal_box {
            flex-direction: column-reverse;
            position: relative;

            &::before {
                content: '';
                background-image: url('../images/design_1.png');
                width: 200px;
                height: 190px;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 20px;
                left: 0;
            }

            &::after {
                content: '';
                background-image: url('../images/design_2.png');
                width: 80px;
                height: 150px;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 30px;
                right: 0;
            }

            .img_container {
                padding: 30px 20px 0;
                width: 100%;

                .image_flip_card {
                    &.four {
                        width: 16.318vw;
                        height: 21vw;
                        margin-top: 16px;

                        &::after {
                            top: -84px;
                            left: -21px;
                            transform: scale(0.15);
                        }
                    }

                    &.one {
                        margin-right: 2.8vw;
                        width: 29vw;
                        height: 37.5vw;
                        margin-top: 50px;

                        &::after {
                            content: '';
                        }
                    }

                    &.two {
                        width: 16.318vw;
                        height: 21vw;

                        &::after {
                            content: '';
                        }

                    }

                    &.three {
                        width: 21vw;
                        height: 28vw;
                        margin-top: 30px;

                        &::after {
                            bottom: -88px;
                            transform: scale(0.15);
                            left: -3vw;
                        }
                    }
                }

                .box {
                    padding: 0 2.8vw;
                    width: unset;
                    flex-direction: row;
                    align-items: flex-start;
                }
            }

            .points_container {
                width: 100%;
                padding: 5% 5% 10%;

                .points_box {
                    margin-bottom: 30px;
                    padding-left: 28%;

                    .icon_box {
                        margin-right: 20px;

                        img {
                            width: 40px;
                        }
                    }

                    .content_box {
                        font-size: 18px;
                        color: #333;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .client_container {
        padding: 6% 0 10%;

        h1 {
            font-size: 30px;
            margin-bottom: 12%;
        }

        .marquee-wrapper {
            &:first-of-type {
                margin-bottom: 50px;
            }
        }

        .marquee>img {
            margin: 0 20px;
        }
    }

    .presentation_container {
        padding: 12% 4%;

        .top {
            h2 {
                font-size: 24px;
            }

            button {
                font-size: 12px;
                padding: 6px 18px;
            }
        }
    }

    footer {
        flex-direction: column;
        padding: 5% 4%;

        p {
            font-size: 14px;
        }

        .left {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            padding: 0;

            p {
                display: none;
            }

            h4 {
                font-size: 20px;
                margin-bottom: 0;
                margin-right: 20px;
                color: #fff;
            }

            .form_box {

                input,
                textarea {
                    display: none;
                }

                button {
                    &:nth-of-type(1) {
                        display: none;
                    }

                    &:nth-of-type(2) {
                        display: block;
                        margin: 0;
                        padding: 10px 20px;
                    }
                }
            }
        }

        .right {
            padding: 0;
            width: 100%;

            .detail {
                grid-template-columns: 30px auto;
                margin-bottom: 16px;

                br {
                    display: none;
                }

                p {
                    font-size: 14px;
                    width: 67%;
                }
            }

            .countries {
                padding-left: 0px;
                column-gap: 24px;
                p {
                    font-size: 14px;
                    margin-bottom: 20px;
                    &:nth-child(2){
                        &::after{
                            right: -14px;
                        }
                        &::before{
                            left: -14px;
                        }
                    }
                }
            }

            .social_links {
                justify-content: flex-start;
                padding: 0;

                .box {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .header .bottom {
        padding: 34% 5% 5%;
    }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"], 
    input[type="tel"], input[type="url"]{ font-size: 14px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="tel"], input[type="url"]{ font-size: 14px; }
}